//Bright Blue

$brand-primary: #006fef;
$brand-secondary: #164883;
$brand-tertiary: #eceff3;
$brand-heading: $brand-secondary;
$brand-text: #52545b;
$brand-theme-name: 'bright-blue';

@import "../style";
