//Turquoise

$brand-primary: #067585;
$brand-secondary: #0c4c55;
$brand-tertiary: #ebf2ef;
$brand-heading: $brand-secondary;
$brand-text: #52545b;
$brand-theme-name: 'turquoise';

@import "../style";
