/* Base: Wordpress
========================================================================== */
.alignleft {
  display: inline;
  float: left;
  margin: 30px 30px 30px 0;
}

.alignright {
  display: inline;
  float: right;
  margin: 30px 0 30px 30px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

blockquote {

}
