.event-location {
	border: 1px solid $border-color;
	border-radius: $border-radius;
	@include clearfix();
	position: relative;
	margin-bottom: 30px;
	&__map {
		width: 100%;
		height: 200px;
		@include media-breakpoint-up(md) {
			width: 46%;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
		}
		.acf-map {
			border: 0;
			margin: 0;
			// min-height: 240px;
			width: 100%;
			height: 100%;
		}
	}
	&__content {
		width: 100%;
		padding: 20px 20px 20px;
		@include media-breakpoint-up(md) {
			width: 54%;
			float: right;
			padding: 30px 30px 30px;
		}
		h2 {
			padding-top: 0;
		}
		.btn {
			margin-bottom: 0;
			margin-top: 15px;
		}
	}
}

.event-info {
	min-height: 91px;
	display: block;
	position: relative;
	width: 100%;
	word-break: break-word;
	@include clearfix();
	clear: both;
	width: 100%;
	margin-bottom: 30px;
	@include media-breakpoint-up(md) {
		display: table;
	}
	&__date, &__gutter, &__details {
		display: block;
		@include media-breakpoint-up(md) {
			display: table-cell;
		}
	}
	&__date {
		background-color: $brand-primary;
		height: 100%;
		border-radius: $border-radius $border-radius 0 0;
		box-sizing: content-box;
		color: white;
		text-align: center;
		vertical-align: middle;
		font-weight: 700;
		// font-size: 18px;
		width: 100%;
		padding: 10px 0;
		@include media-breakpoint-up(md) {
			width: 88px;
			padding: 0;
			border-radius: $border-radius;
		}
		span {
			text-transform: uppercase;
			display: inline;
			@include media-breakpoint-up(md) {
				display: block;
			}
			&.large {
				@include media-breakpoint-up(md) {
					font-size: 21px;
				}
			}
			&.larger {
				@include media-breakpoint-up(md) {
					font-size: 32px;
					margin-bottom: 4px;
				}
			}
			&.light {
				@include media-breakpoint-up(md) {
					font-weight: 300;
				}
			}
			svg {
				width: 11px; height: 11px;
				@include media-breakpoint-up(md) {
					transform: rotate(90deg);
				}
				path {
					fill: white;
				}
			}
		}
	}
	&__gutter {
		display: none;
		@include media-breakpoint-up(md) {
			width: 20px;
			display: table-cell;
		}
	}
	&__details {
		padding: 15px 20px;
		border: 1px solid $border-color;
		border-radius: 0 0 $border-radius $border-radius;
		vertical-align: middle;

		@include media-breakpoint-up(md) {
			padding-left: 0 0 0 20px;
			border-radius: $border-radius;
		}
		p {
			margin: 0;
			&.main-info {
				font-weight: 400;
				color: $colour--dark-grey;
				font-size: 15px;
				@include media-breakpoint-up(md) {
					font-size: 20px;
				}
				svg {
					width: 21px;
					top: 3px;
				}
				.time {
					display: block;
					margin-left: 0;
				}
			}
			&.sub-info {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 13px;
				margin-top: 10px;
				@include media-breakpoint-up(md) {
					margin-top: 0;
					font-size: 15px;
				}
				svg {
					top: 2px;
					margin-right: 5px;
					width: 15px; height: 16px;
				}
			}
			.time {
				display: block;
				margin-top: 10px;
				@include media-breakpoint-up(md) {
					margin-top: 5px;
				}
			}
			svg {
				position: relative;
				width: 15px; height: 16px;
				path {
					fill: $colour--dark-grey;
				}
			}
		}
	}
}
