.hexmap {
  height: 600px;
  width: 100%;
  margin-top: 1em;
  position: relative;
  animation-duration: 0.3s;
}

.hexmap .hex-cell {
  stroke: black;
  stroke-width: 0;
  transition: fill 0.2s ease-in, stroke 0.2s ease-in, stroke-width 0.2s ease-in;
}

.hexmap .hover path {
  stroke-width: 4px;
}

@media only screen and (max-width: 700px) {
  .hexmap .hex-label {
    display: none;
  }
}

.hexmap .tooltip {
  position: absolute;
  text-align: center;
  background: black;
  color: white;
  padding: 0.25em 0.5em;
  transform: translate3d(-50%, 50%, 0);
  transition: left 0.1s linear, top 0.1s linear;
  border-radius: 4px;
}

.hexmap .tooltip::after {
  content: "";
  position: absolute;
  bottom: auto;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  left: 50%;
  top: 0%;
  transform: translate3d(-50%, -100%, 0);
  border-color: transparent;
  border-bottom-color: black;
}
